body
{
	background-color:black;
	border-style:solid;
	border-color:white;
	border-width:6px;
	margin:0px;
	border-radius:10px;
}
.button
{
	text-align:center;
	width:250px;
	font-size:20px;
	margin-top:50px;
	margin-left:550px;
	color:#15f4ee;
	font-family:poppins;
	border:5px solid #15f4ee;
	cursor:pointer;
	border-radius:100px;
	transition:1.5s;
	background-color:black;
	
}
.button:hover
{
	box-shadow: 0 5px 50px 0 #15f4ee inset;
}
h1
{
	text-align:center;
	color:white;
}
#b1{
    line-height: 60px;
    margin-left: 40px;
    display: inline-block;
	cursor: pointer;
	font-size: 30px;
	font-weight: bold;
	color: #00a7ff; /* blue */
}
#b2{
	color: #eef9ff; /* white */
	margin-left: 5px;
}